// define color
$link: #18313b

html, body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: #f0f8ff

footer
  background-color: #b0e0e6 !important
  margin-top: 3em

* 
  box-sizing: inherit
  margin: 0
  padding: 0

.navbar
  width: 100%
  background-color: #b0e0e6
  margin-bottom: 2em

.navbar-brand

.card
  cursor: pointer
  height: 27wh !important
  text-overflow: hidden

  .recent-posts
    .card
    margin: 1em

img
  object-fit: cover

@media screen and (max-width: 768px)
  .is-justify-content-center-mobile
    justify-content: center