{{ define "main" }}
<article class="split-me">
    <section>
        <section>
            <article class="content">
                <div class="meta">
                    <h1>{{ strings.Title .Title }}</h1>
                    <div class="cover">
                        {{ with .Resources.GetMatch "cover.*" }}
                            <div class="wrapper">
                                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
                                <meta name="og:image" content="{{ .RelPermalink }}" />
                            </div>
                        {{ end }}
                    </div>
                    <section class="post-meta">
                        <span>
                            <p id="date"> Posted on {{ .Date.Format "Mon Jan 2, 2006" }}
                            {{ $diff := now.Sub .Lastmod }}
                            {{ if lt $diff.Hours 72 }}
                                <span class="new">NEW</span>
                            {{ end }}
                            </p>
                        </span>
                        <p class="dark-gray-text" id="wordcount"> {{ .WordCount }} Words - reading time: {{ math.Round (div (countwords .Content) 180.0) }} minutes. </p>
                    </section>
                </div>
                <span class="main-content">
                    {{ replace .Content "disabled" "" | safeHTML }}
                </span>
            </article>
        </section>
        <aside id="meta" class="meta-tags">
            <div class="tags">
            {{ with .GetTerms "tags" }}
                    {{ range . }}
                    <a href="{{ .RelPermalink }}">
                        <button uk-filter-control='[data-tag~="{{ . }}"]' class="tag-button">
                            {{ .LinkTitle }}
                        </button>
                        <div>{{ len .Pages}}</div>
                    </a>
                    {{ end }}
                {{ end }}
            </div>

        </aside>
    </section>

    <div class="sidebar">
        <div class="sidebar-padding">
        <h2>Tofu Dreams</h2>
        <img src="/me.jpg" alt="me">
        <p>
            Hi, I'm Daniel and this is my little vegan cooking blog.
            I love comfort food and baking. I hope you find some of my recipes interesting and decide to try them yourself.
        </p>
        <p>
            This site is intentionally minimal and doesn't need javascript to run. I don't want <i>your</i> <a href="/posts/sweet/cookies/">cookies</a>!
        </p>
        <h2>Recent recipes</h2>
        </div>
        <div class="recent-posts">
            {{ range ( where .Site.RegularPages "Type" "posts" | first 5 ) }}
                <div class="article" onclick="location.href='{{ .RelPermalink }}';">
                    {{ $diff := now.Sub .Lastmod }}
                    {{ if lt $diff.Hours 120 }}
                        <div class="new">NEW</div>
                    {{ end }}
                        <div class="vertical"><a href="{{ .RelPermalink }}">
                            {{ with .Resources }}
                                {{ $image := .GetMatch "{cover.*,*.jpg,*.webp,*.png,*.jpeg}" }}
                                {{ $image := $image.Process "resize 250x" }}
                                {{ if $image }}
                                    <div class="cover_image"
                                            style="background-image: url({{ $image.RelPermalink }});"></div>
                                {{ end }}
                            {{ end }}
                        </a>
                        <a href="{{ .RelPermalink }}"><h2>{{ strings.Title .Title }}</h2></a>
                    </div>
                    <span>
                        {{ .Summary | truncate 200 }}
                        </span>
                        <span>
                        {{ if .Truncated }}
                            <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                        <!--<div class="bottom-link">
                            <a href="{{ .RelPermalink }}">Continue reading…</a>
                        </div>-->
                        {{ end }}
                        </span>
                </div>
            {{ end }}
        </div>
    </div>
</article>

{{ end }}
