{{ define "main" }}
<div class="container">
    <article class="columns is-variable is-8">
        <section class="column is-two-thirds">
            <article class="content"></article>
            <article class="content">
                <div class="meta">
                    <h1 class="title">{{ strings.Title .Title }}</h1>
                    <div class="cover">
                        {{ with .Resources.GetMatch "cover.*" }}
                        <div class="image is-16by9">
                            <img src="{{ .RelPermalink }}" alt="">
                            <meta name="og:image" content="{{ .RelPermalink }}" />
                        </div>
                        {{ end }}
                    </div>
                    <section class="post-meta">
                        <p class="is-size-6">
                            <span id="date">Posted on {{ .Date.Format "Mon Jan 2, 2006" }}</span>
                            {{ $diff := now.Sub .Lastmod }}
                            {{ if lt $diff.Hours 72 }}
                            <span class="tag is-success is-light">NEW</span>
                            {{ end }}
                        </p>
                        <p class="is-size-6 has-text-grey-dark" id="wordcount">
                            {{ .WordCount }} Words - reading time: {{ math.Round (div (countwords .Content) 180.0) }}
                            minutes.
                        </p>
                        <div class="field is-grouped is-grouped-multiline mt-5">
                            {{ with .GetTerms "tags" }}
                            {{ range . }}
                            <div class="control">
                                <div class="tags has-addons">
                                    <a href="{{ .RelPermalink }}" class="tag is-info">
                                        {{ .LinkTitle }}
                                    </a>
                                    <span class="tag">{{ len .Pages }}</span>
                                </div>
                            </div>
                            {{ end }}
                            {{ end }}
                        </div>
                        {{ if .Params.tags }}
                        <a href="#recipe" class="button is-primary mt-5 mb-5">Jump to recipe</a>
                        {{ end }}
                    </section>
                </div>
                <div>
                    <div class="box">
                        {{ replace .Content "disabled" "" | safeHTML }}
                    </div>
                </div>
            </article>
        </section>

        <div class="column is-one-third">
            <div class="box">
                <div class="is-flex is-align-items-center mb-5" style="gap: 1rem;">
                    <figure class="image is-32x32">
                        <img src="/logo.png" alt="Vege Dreams Logo">
                    </figure>
                    <h2 class="title is-4">Vege Dreams</h2>
                </div>

                <p>
                    Hi, I'm Andrew and this is my little vegetarian cooking blog.
                    I want to save recipes that I either made myself or had to ask for from around the world.
                </p>
            </div>
            <div class="box">
                <h2 class="title is-5">Recent recipes</h2>
                <div class="recent-posts">
                    {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
                    <div class="card" onclick="location.href='{{ .RelPermalink }}';">
                        {{ $diff := now.Sub .Lastmod }}
                        {{ if lt $diff.Hours 120 }}
                        <span class="has-background-success has-text-white p-2 is-success is-light is-large has-text-weight-bold" style="position: absolute; z-index: 1;">NEW</span>
                        {{ end }}
                        <div class="card-image">
                            {{ with .Resources }}
                            {{ $image := .GetMatch "{cover.*,*.jpg,*.webp,*.png,*.jpeg}" }}
                            {{ $image := $image.Process "resize 250x" }}
                            {{ if $image }}
                            <figure class="image is-4by3">
                                <img src="{{ $image.RelPermalink }}" alt="">
                            </figure>
                            {{ end }}
                            {{ end }}
                        </div>
                        <div class="card-content">
                            <a href="{{ .RelPermalink }}">
                                <h2 class="title is-6">{{ strings.Title .Title }}</h2>
                            </a>
                            <p class="content">
                                {{ .Summary | truncate 200 }}
                            </p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </article>
</div>
{{ end }}