{{ define "main" }}
<main aria-role="main">
    <!-- get subtags -->
    {{ $categories := slice }}
    {{ range .Pages }}
        {{ with .GetTerms "tags" }}
            {{ range . }}
                {{ $categories = $categories | append .LinkTitle }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if ( gt ( len $categories ) 0 ) }}
    <div class="category_container">
        <h3>All categories:</h3>
        <div class="tags">
            {{ range ($categories | uniq) }}
            <a href="/tags/{{ . }}">
                <button uk-filter-control='[data-tag~="{{ . }}"]' class="tag-button">
                    {{ . }}
                </button>
            </a>
            {{ end }}
        </div>
    </div>
    {{ end }}

    <div class="category_container">
        <div class="container">
            <h1>{{ .Title }}</h1>
            <div class="category">
                {{ range .Paginator.Pages.ByDate.Reverse }}
                <span class="article" onclick="location.href='{{ .Permalink }}';">
                        <span><a href="{{ .Permalink }}">
                            {{ with .Resources }}
                                {{ with .GetMatch "{cover.*,*.jpg,*.webp,*.png,*.jpeg}" }}
                                        <div class="cover_image"
                                             style="background-image: url({{ .Permalink }});"></div>
                                {{ end }}
                            {{ end }}
                        </a>
                        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                        {{ .Summary | truncate 200 }}
                        </span>
                        <span>
                        {{ if .Truncated }}
                            <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                        <div class="bottom-link">
                            <a href="{{ .RelPermalink }}">Continue reading…</a>
                        </div>
                        {{ end }}
                        </span>
                    </span>
                {{ end }}
            </div>
        </div>
    </div>

    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
            <a class="prev" href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ else }}#{{ end }}">« Prev</a>
        {{ else }}
            <p class="prev">« Prev</p>
        {{ end }}
        {{ if .Paginator.HasNext }}
            <a class="next" href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ else }}#{{ end }}">Next »</a>
        {{ else }}
            <p class="next">Next »</p>
        {{ end }}
    </nav>
</main>
{{ end }}

