{{ define "main" }}
<main aria-role="main">
    <!-- get subtags -->
    {{ $tags := dict }}

    {{ $categories := slice }}
    {{ range .Pages }}
        {{ with .GetTerms "tags" }}
            {{ range . }}
                {{ $categories = $categories | append .LinkTitle }}
                {{ if in $tags .LinkTitle}}
                {{ else }}
                {{ $tags = merge $tags (dict .LinkTitle (len .Pages)) }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if ( gt ( len $categories ) 0 ) }}
    <div class="category_container">
        <h3>All categories:</h3>
        <div class="tags">
            {{ range $key, $value := $tags }}
                <a href="/tags/{{ $key }}">
                    <button uk-filter-control='[data-tag~="{{ $key }}"]' class="tag-button">
                        {{ $key }}
                    </button>
                    <div>{{ $value }}</div>
                </a>
            {{ end }}
        </div>
    </div>
    {{ end }}

    <div class="category_container">
        <div class="container">
            {{ $first := substr .Title 0 1 }}
            {{ $rest := substr .Title 1 }}
            {{ $first = upper $first }}
            {{ $title := print $first $rest }}
            <h1>{{ $title }}</h1>
            <div class="category">
                {{ range .Paginator.Pages.ByDate.Reverse }}
                <span class="article" onclick="location.href='{{ .RelPermalink }}';">
                        {{ $diff := now.Sub .Lastmod }}
                        {{ if lt $diff.Hours 72 }}
                            <div class="new">NEW</div>
                        {{ end }}
                        <span><a href="{{ .RelPermalink }}">
                            {{ with .Resources }}
                                {{ $image := .GetMatch "{cover.*,*.jpg,*.webp,*.png,*.jpeg}" }}
                                {{ $image := $image.Process "resize 800x" }}
                                {{ if $image }}
                                        <div class="cover_image" style="background-image: url({{ $image.RelPermalink }});"></div>
                                {{ end }}
                            {{ end }}
                        </a>
                        <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
                        {{ .Summary | truncate 200 }}
                        </span>                        
                        <span>
                        {{ if .Truncated }}
                            <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                        <!--<div class="bottom-link">
                            <a href="{{ .RelPermalink }}">Continue reading…</a>
                        </div>-->
                        {{ end }}
                        </span>
                    </span>
                {{ end }}
            </div>
        </div>
    </div>

    <nav class="pagination">
        {{ if .Paginator.HasPrev }}
            <a class="prev" href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ else }}#{{ end }}">« Prev</a>
        {{ else }}
            <p class="prev">« Prev</p>
        {{ end }}
        {{ if .Paginator.HasNext }}
            <a class="next" href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ else }}#{{ end }}">Next »</a>
        {{ else }}
            <p class="next">Next »</p>
        {{ end }}
    </nav>
</main>
{{ end }}

