<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}
    {{ else }}
        {{ $first := substr .Title 0 1 }}
        {{ $rest := substr .Title 1 }}
        {{ $first = upper $first }}
        {{ $title = print $first $rest " | " .Site.Title }}
    {{ end }}
    <title>{{ strings.Title $title }} – {{.Site.Params.description}}</title>
    <meta property="og:title" content="{{ $title }}" />
    <meta property="og:description" content="{{.Site.Params.description}}" />
    {{ $seed := now.Unix }}
    {{ $css := resources.Get "style.sass" }}
    {{ $css = $css | resources.ToCSS }}
    <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}?{{ printf "%.12s" (md5 $seed) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL}}{{ .Site.Params.icon }}">

    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">
    {{ partial "schema.html" . }}
</head>