<div id="nav-border" class="container">
    <nav id="nav">
        <span class="identity">
            <a href="/">
                {{ $image := resources.Get "static/logo.png" }}
                <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" class="logo"/>
                {{ if eq .Title .Site.Title }}
                    <h3>{{.Title}}</h3></a>
                {{ else }}
                    <h3>{{.Title}} | {{ .Site.Title }}</h3></a>
                {{ end }}
        </span>
        <span class="nav">
            <span>
                {{ range .Site.Menus.main }}
                <a class="nav-link" href="{{ absURL .URL }}">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
                {{ end }}
                {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages.Reverse }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </span>
            <span>
                <a href="/about">About</a>
            </span>
        </span>
    </nav>
</div>
