    <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ absURL "/" }}">
                <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Logo" class="logo" style="height: 50px; width: auto;">
                <span class="brand-name" style="margin-left: 10px; font-size: 1.5rem; font-weight: bold;">{{ .Site.Params.name }}</span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                {{ range .Site.Menus.main }}
                <a class="navbar-item" href="{{ absURL .URL }}">
                    {{ if .Pre }}
                        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                    {{ end }}
                    {{ .Name }}
                </a>
                {{ end }}
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="/about" style="font-weight: bold;">About</a>    </div>
        </div>
    </nav>