{{ define "main" }}
<main aria-role="main">
    <header class="homepage-header">
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
    </header>
    <div class="category_container">
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages.ByTitle}}
        {{ if ne .Name "Oatmeal" }}
        <h2>{{ .Title }}</h2>

        <div class="category">
            {{ range (.Paginate (.Pages).ByDate.Reverse).Pages | first 6 }}
                <span class="article" onclick="location.href='{{ .RelPermalink }}';">
                    {{ $diff := now.Sub .Lastmod }}
                    {{ if lt $diff.Hours 120 }}
                        <div class="new">NEW</div>
                    {{ end }}
                    <span><a href="{{ .RelPermalink }}">
                        {{ with .Resources }}
                            {{ $image := .GetMatch "{cover.*,*.jpg,*.webp,*.png,*.jpeg}" }}
                            {{ $image := $image.Process "resize 800x" }}
                            {{ if $image }}
                                    <div class="cover_image" style="background-image: url({{ $image.RelPermalink }});"></div>
                            {{ end }}
                        {{ end }}
                    </a>
                    <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
                    {{ .Summary | truncate 200 }}
                    </span>
                    <span>
                    {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <!--<div class="bottom-link">
                        <a href="{{ .RelPermalink }}">Continue reading…</a>
                    </div>-->
                    {{ end }}
                    </span>
                </span>

            {{ end }}
        </div>
        <div class="flex-left">
            <div class="flex-push"></div>
            <div>
                <a href="{{ .RelPermalink }}">
                    <h3>More {{ .Title }} > </h3>
                </a>
            </div>
        </div>

        {{end}}
        {{end}}
<!--
        {{ range .Data.Pages }}
            <h4>{{ .Title }}</h4>
            <ul>
                {{ range .Data.Pages }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        {{ end }}
-->
    </div>
</main>
<div class="teaser_container">
    <h2 style="text-align: center">Featured categories 🌱</h2>
    <div class="round-teasers">
        <div>
            <a href="{{ absURL "/tags/soup" }}">
                <img src="/teasers/soup.jpg" alt="me">
                <h3>Soup</h3>
            </a>
        </div>
        <div>
            <a href="{{ absURL "/tags/lunch" }}">
                <img src="/teasers/lunch.jpg" alt="me">
                <h3>Lunch</h3>
            </a>
        </div>
        <div>
            <a href="{{ absURL "/tags/pasta" }}">
                <img src="/teasers/pasta.jpg" alt="me">
                <h3>Pasta</h3>
            </a>
        </div>
        <div>
            <a href="{{ absURL "/tags/gluten-free" }}">
                <img src="/teasers/gluten-free.jpg" alt="me">
                <h3>Gluten-free</h3>
            </a>
        </div>
        <div>
            <a href="{{ absURL "/tags/baked" }}">
                <img src="/teasers/baked.jpg" alt="me">
                <h3>Baked<br>goods</h3>
            </a>
        </div>
        <div>
            <a href="{{ absURL "/categories/oatmeal" }}">
                <img src="/teasers/oatmeal.jpg" alt="me">
                <h3>Oatmeal</h3>
            </a>
        </div>
        <div>
            <a href="{{ absURL "/tags/simple" }}">
                <img src="/teasers/simple.jpg" alt="me">
                <h3>Something<br>simple</h3>
            </a>
        </div>
    </div>
</div>
{{ end }}
