{{ define "main" }}
<section class="hero is-danger is-small mt-0 mb-5">
  <div class="hero-body">
    <p class="title">Stock pictures</p>
    <p class="subtitle">
      The pictures used in the recipe previews are not mine yet. I still need to take them the next time I make these dishes.
      But don’t worry, the recipes work perfectly and taste amazing!
    </p>
  </div>
</section>

<div class="container">
  <div class="columns is-multiline is-mobile">
    {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages.ByTitle.Reverse }}
      <div class="column is-12">
        <h2 class="title is-size-1 mb-2">{{ .Title }}</h2>
      </div>

      <div class="columns is-multiline is-mobile">
        {{ range (.Paginate (.Pages).ByDate.Reverse).Pages | first 6 }}
          <div class="column is-3-desktop is-6-tablet is-full-mobile">
            <div class="card" onclick="location.href='{{ .RelPermalink }}';">
              {{ $diff := now.Sub .Lastmod }}

              {{ if lt $diff.Hours 120 }}
                <div class="card-header" style="position: relative;">
                  <span class="card-header-title has-background-warning" style="position: absolute; z-index: 1;">NEW</span>

                  {{ if in .Params.tags "concept" }}
                    <span class="card-header-title has-background-danger" style="position: absolute; right: 35%; z-index: 1;">CONCEPT</span>
                  {{ end }}

                  {{ if in .Params.tags "vegan" }}
                    <span class="card-header-title has-background-success has-text-white" style="position: absolute; right: 0; z-index: 1;">VEGAN</span>
                  {{ end }}
                </div>

              {{ else if in .Params.tags "concept" }}
                <div class="card-header" style="position: relative;">
                  <span class="card-header-title has-background-danger has-text-black" style="position: absolute; z-index: 1;">CONCEPT</span>

                  {{ if in .Params.tags "vegan" }}
                    <span class="card-header-title has-background-success has-text-white" style="position: absolute; right: 0; z-index: 1;">VEGAN</span>
                  {{ end }}
                </div>

              {{ else if in .Params.tags "vegan" }}
                <div class="card-header" style="position: relative;">
                  <span class="card-header-title has-background-success has-text-white" style="position: absolute; right: 0; z-index: 1;">VEGAN</span>
                </div>
              {{ end }}

              <div class="card-image">
                {{ with .Resources.GetMatch "cover*" }}
                  {{ $image := .Process "resize 800x" }}
                  <figure class="image is-4by3 index-image">
                    <img src="{{ $image.RelPermalink }}" alt="Cover image">
                  </figure>
                {{ else }}
                  <figure class="image is-4by3 index-image">
                    <img src="/images/default-cover.jpg" alt="Default cover image">
                  </figure>
                {{ end }}
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">{{ strings.Title .Title }}</p>
                  </div>
                </div>
                <div class="content">
                  {{ .Summary | truncate 100 }}
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
